body
{
	margin: 0;
}
.nav
{
	border-bottom: 1px solid red;
	text-align: right;
	height: 70px;
	line-height: 70px;
}
.menu
{
	margin: 0 30px 0 0;
}
.menu a
{
	text-decoration: none;
	color: black;
	margin:0 10px;
	clear: right;
}
label
{
	font-size: 30px;
	margin:0 30px 0 0;
	display: none;
}
#toggle
{
	display: none;
}
@media only screen and (max-width: 500px)
{
	label
	{
		display: block;
	}
	
	.menu
	{
		text-align: center;
		width:100%;
		display: none;
	}
	.menu a
	{
		display: block;
		margin: 0;
	}
	#toggle:checked + .menu
	{
		display: block;
	}
}